<!-- применение директивы NgIf, интерполяция -->
<!-- <app-list></app-list> -->

<!-- рендеринг дочерних компонентов в родительских -->
<!-- <app-layouts></app-layouts> -->

<!-- базовое использование маршрутизации -->
<!-- <app-routes></app-routes> -->

<!-- применение в стилизации псевдоселекторов :host-context() и :host -->
<!-- <app-styles></app-styles> -->

<!-- Передача информации в дочерний компонент через массив inputs и дирррективу @Input() -->
<!-- <app-person></app-person> -->

<!-- Передача информации из дочернего компонента в родительский. Output, EventEmitter -->
<!-- <app-timers></app-timers> -->

<!-- Inputs setter и getter -->
<!-- <app-users></app-users> -->

<!-- Проекция. ng-content - куда внедряется точка из родителя -->
<!-- <app-spoilers></app-spoilers> -->

<!-- Хуки -->
<!-- <app-life-cycle></app-life-cycle> -->

<!-- viewChild и viewChildren
<app-block></app-block> -->

<!-- contentChild и contentChildren
<app-list-host> </app-list-host> -->

<!-- class-binding -->
<!-- <app-class-binding></app-class-binding> -->

<!-- Дирректива ng-model -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- Дирректива ng-class -->
<!-- <app-ng-class-dir></app-ng-class-dir> -->

<!-- ngIf ngSwitch ngFor -->
<!-- <app-structure-dir></app-structure-dir> -->

<!-- Шаблонные переменные -->
<app-template-ref></app-template-ref>