<app-list-host-component>
    <h2>List number1</h2>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item #selected></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
</app-list-host-component>
<app-list-host-component>
    <h2>List number2</h2>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item></app-list-item>
    <app-list-item #selected></app-list-item>
    <app-list-item></app-list-item>
</app-list-host-component>